@model GameShop.ViewModel.StoreViewModel
@using GameShop.Infrastructure
@{ Layout = null; }
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
    <link rel="stylesheet" href="~/Prototype/frontendTemplate/css/global.css">
    <link rel="stylesheet" href="~/Prototype/frontendTemplate/css/shop.css">
    <script src="https://kit.fontawesome.com/cd4d4653a2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topbar">
        <div class="topbar__logo">
            <h1 class="topbar__h1"><a href="@Url.Action("Index","Home")">GameShop</a></h1>
        </div>
        <nav class="topbar__nav">
            <ul class="topbar__list">
                <li class="topbar__list-item"><a href="@Url.Action("Store","Store")">Sklep</a></li>
                <li class="topbar__list-item"><a href="@Url.Action("StaticPages","Home", new { name = "AboutUs"})">O nas</a></li>
                <li class="topbar__list-item list-item--login"><a href="@Url.Action("Login","Account")">Zaloguj się</a></li>
            </ul>
        </nav>
        <div class="topbar__cart-icon">
            <a href="@Url.Action("Cart","Cart")"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <header class="header">
        <div class="header__cart-items-amount">
            <p class="header__paragraph">W koszyku: @Html.Action("DownloadNumberOfCartItems","Cart")</p>
            <!-- example value, should changed when game added to cart -->
        </div>
    </header>
    <main class="main">
        <section class="shop-content">
            <div class="side-panel">
                <div class="side-panel__game-type">
                    <div class="side-panel__tab-name">Gatunek</div>
                    <ul class="game-type__list">
                        <li class="game-type__list-item">RPG</li>
                        <li class="game-type__list-item">Akcji</li>
                        <li class="game-type__list-item">Symulatory</li>
                        <li class="game-type__list-item">Wyścigi</li>
                        <li class="game-type__list-item">Strategie</li>
                        <li class="game-type__list-item">Strzelanki</li>
                    </ul>
                </div>
                <div class="side-panel__game-price">
                    <div class="side-panel__tab-name">Cena</div>
                    <p class="game-price__paragraph">0 <input type="range" name="game-price" id="game-price" min="0" max="500" step="5"> 500</p>
                    <p class="game-price__paragraph">Szukaj gier do 250zł</p>
                    <!-- example value, should change with input value -->
                </div>
                <div class="side-panel__game-languages">
                    <div class="side-panel__tab-name">Język</div>
                    <ul class="game-languages__list">
                        <li class="game-languages__list-item"><label><input type="checkbox" name="pl"><span>Polski</span></label></li>
                        <li class="game-languages__list-item"><label><input type="checkbox" name="en"><span>Angielski</span></label></li>
                        <li class="game-languages__list-item"><label><input type="checkbox" name="fr"><span>Francuski</span></label></li>
                        <li class="game-languages__list-item"><label><input type="checkbox" name="ru"><span>Rosyjski</span></label></li>
                    </ul>
                </div>
            </div>
            <section class="games">
                <div class="games__search">
                    <input type="text" name="game-search" id="game-search" placeholder="Szukaj gry..">
                    <button class="games__search-button">Wyszukaj</button>
                </div>
                <div class="games__list">
                    <!-- example values, should get from database (img, title, price) -->
                    <!-- games list items should be created with loop based on database records -->
                    @foreach(var games in Model.AllGames)
                    {
                    <div class="games__list-item">
                        <img src="@Url.PathGames(games.ImageFileName)" alt="@games.GameTitle" class="games__list-item__img">
                        <div class="games__list-item__info">
                            <p class="games__list-item__title">@games.GameTitle</p>
                            <p class="games__list-item__price">@games.GamePrice.ToString()</p>

                        </div>
                        <div class="games__list-item__add-button"><a href="@Url.Action("AddToCart","Cart", new { id = games.GameId })"><i class="fas fa-cart-plus"> </i></a></div>
                            <!-- click on element (list-item) or only picture should redirect to game's info page -->
                    </div>

                   }

                </div>
            </section>
        </section>
        <p class="page-number">Strona 1 z 1</p>
    </main>
    <footer class="footer">
        <p class="footer__paragraph">&copy; 2020 GameShop, <a href="https://github.com/xeedis/GameShop_StudentProject" target="_blank">student project</a></p>
    </footer>
</body>
</html>
