@model GameShop.Models.Game
@using GameShop.Infrastructure
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
    <link rel="stylesheet" href="~/Prototype/frontendTemplate/css/global.css">
    <link rel="stylesheet" href="~/Prototype/frontendTemplate/css/game2.css">
    <script src="https://kit.fontawesome.com/cd4d4653a2.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topbar">
        <div class="topbar__logo">
            <h1 class="topbar__h1"><a href="@Url.Action("Index","Home")">GameShop</a></h1>
        </div>
        <nav class="topbar__nav">
            <ul class="topbar__list">
                <li class="topbar__list-item"><a href="@Url.Action("Store","Store")">Sklep</a></li>
                <li class="topbar__list-item">
                    <a href="@Url.Action(" StaticPages","Home", new { name="AboutUs" })">O nas</a>
                </li>
                <li class="topbar__list-item list-item--login"><a href="@Url.Action("Login","Account")">Zaloguj się</a></li>
            </ul>
        </nav>
        <div class="topbar__cart-icon">
            <a href="@Url.Action("Cart","Cart")"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <header class="header"  >       
        <div class="header__cart-items-amount">
            <p class="header__paragraph">W koszyku: @Html.Action("DownloadNumberOfCartItems", "Cart")</p>
            <!-- example value, should changed when game added to cart -->
        </div>
    </header>
    <main class="main">
        <section class="game">
            <section class="game__summary">
                <div class="game__summary-line">
                    <h2 class="game__name">@Model.GameTitle</h2> <!-- in Game.cs GameTitle -->
                    <p class="game__rating">@Model.Rating</p> <!-- in Game.cs Rating -->
                  
                    <!-- prawdopodobnie tak to powinno wyglądać po dodaniu C# -->
                     <a href="@Url.Action("AddToCart", "Cart", new { id = Model.GameId })"><button class="game__add-to-cart-button">Dodaj do koszyka w cenie @Model.GamePrice zł</button></a> 
                </div>
                <div class="game__summary-line game__summary-line--second">
                    <p class="game__publisher game__summary-paragraph"><span class="game__p-span">Wydawca: </span>@Model.Publisher</p> <!-- in Game.cs Publisher -->
                    <p class="game__type game__summary-paragraph"><span class="game__p-span">Gatunek: </span>@Model.Type</p> <!-- in Game.cs Type -->
                    <p class="game__premiere game__summary-paragraph"><span class="game__p-span">Data premiery: </span>@Model.Premiere</p> <!-- in Game.cs Premiere -->
                </div>
            </section>
            <section class="game__description">
                <h3 class="game__desc">Opis</h3>
                <p class="game__paragraph">
                   @Model.GameDescryption
                </p> <!-- in Game.cs GameDescription -->
            </section>


            <!-- Jeżeli chcemy dodać też sekcje z wymaganiami sprzętowymi to dodaj po prostu zmienne z tymi danymi, a ja je później wsadze w HTML i CSS -->
            <!-- Jeżeli nie to usuń poniższą sekcje game__requirements -->
            <section class="game__requirements">
                @Model.HardwareRequirementsId
            </section>

        </section>
    </main>
    <footer class="footer">
        <p class="footer__paragraph">
            &copy; 2021 GameShop, <a href="https://github.com/xeedis/GameShop_StudentProject"
                                     target="_blank">student project</a>
        </p>
    </footer>
</body>

</html>