@model GameShop.ViewModel.CartViewModel
    @using GameShop.Infrastructure
@using System.Web

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
    <link rel="stylesheet" href="~/Prototype/frontendTemplate/css/global.css">
    <link rel="stylesheet" href="~/Prototype/frontendTemplate/css/cart.css">
    <script src="https://kit.fontawesome.com/cd4d4653a2.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .hidden{
            display:none;
        }
        .cart__paragraph{
            display: block;
        }
    </style>
    <script type="text/javascript" defer>
        console.log("script się odpalił", @Model.CartItem.Count);
        var delCount = 0;
        var itemCount = @Model.CartItem.Count;

        $(".header__paragraph").text('W koszyku: ' + itemCount);

        $(function () {
            $(".cart__remove-button").click(function () {
                var RecordToDelete = $(this).attr("data-id");
                console.log("usunięto gre");

                if (RecordToDelete != '') {
                    $.post("/Cart/RemoveFromCart", { "GameId": RecordToDelete },
                        function (response) {
                            if (response.NumberItemsToRemove == 0) {
                                $('#cart-row-' + response.IdItemsToRemove).fadeOut('slow',
                                    function () {
                                        if (response.CartQuantityItem == 0) {
                                            $("#cart-empty-message").removeClass("hidden");
                                        }
                                    });
                            }
                            else {
                                $('#cart-quantity-item-' + response.IdItemsToRemove).text(response.NumberItemsToRemove);
                            }
                            if (response.CartTotalPrice == 0) {
                                $('#cart-button-pay').addClass('hidden');
                                $('#total-price').addClass('invisible');
                            }
                            $('#total-price-value').text(response.CartTotalPrice + ' zł');
                            $('#cart-heading-quantity-items').text(response.CartQuantityItem);    
                        });
                    document.location.reload();
                    return false;
                }
            });
        });
    </script>
</head>
<body>
    <div class="topbar">
        <div class="topbar__logo">
            <h1 class="topbar__h1"><a href="@Url.Action("Index","Home")">GameShop</a></h1>
        </div>
        <nav class="topbar__nav">
            <ul class="topbar__list">
                <li class="topbar__list-item"><a href="@Url.Action("Store","Store")">Sklep</a></li>
                <li class="topbar__list-item"><a href="@Url.Action("StaticPages","Home", new { name = "AboutUs"})">O nas</a></li>
                <li class="topbar__list-item list-item--login"><<a href="@Url.Action("Login","Account")">Zaloguj się</a></li>
            </ul>
        </nav>
        <div class="topbar__cart-icon">
            <a href="@Url.Action("Cart","Cart")"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <header class="header">
        <div class="header__cart-items-amount">
            <p class="header__paragraph">W koszyku: @Model.CartItem.Count</p>
        </div>
    </header>
    <main class="main">
        <section class="cart">
            <h2 class="cart__h2">Mój koszyk (<span id="itemCountC">@Model.CartItem.Count</span>)</h2>
            <div class="cart__content">
                <ul class="cart__list">
                    @foreach (var cartItem in Model.CartItem)
                    {
                        <li id="cart-row-@cartItem.game.GameId" class="cart__list-item">
                            <div class="cart__item-info">
                                <p class="cart__paragraph cart__paragraph--title">@cartItem.game.GameTitle</p>
                                <p id="cart-quantity-item-@cartItem.game.GameId" class="cart__paragraph cart__paragraph--amount">@cartItem.Quantity</p>
                                <p class="cart__paragraph cart__paragraph--price">@String.Format("{0:0.##}", cartItem.Value) zł</p>
                            </div>
                            <button class="cart__remove-button" data-id="@cartItem.game.GameId">
                                <p class="cart__paragraph cart__paragraph--remove-button">X</p>
                            </button>
                        </li>
                    }
                </ul>
                <div class="cart__total-price">
                    <p class="cart__paragraph">Razem do zapłaty: <span id="total-price-value" class="total-price">@String.Format("{0:0.##}", Model.TotalPrice) zł</span></p>
                </div>
            </div>
            <button class="cart__paymant-button">
                <a href="@Url.Action("Pay","Cart")" id="cart-button-pay" class="cart__paragraph">Wybierz sposób dostawy i płatność</a>
            </button>
        </section>
    </main>
    <footer class="footer">
        <p class="footer__paragraph">&copy; 2020 GameShop, <a href="https://github.com/xeedis/GameShop_StudentProject" target="_blank">student project</a></p>
    </footer>
</body>
</html>
